{{>layout/header}}
    <div class="row rowLine">
        <div class="col">bootstrap test</div>
    </div>

    <!--
        3-11. 미리 타이핑
        구글 인증정보를 이용해서 로그인이 된 경우와 되지 않은 경우를 구분해서
        화면을 구성한다.
        로그인이 안된 경우 (구글로그인) 버튼을 하나 만들고
        로그인이 된 경우에는 (홍길동 로그아웃) 버튼을 만든다.
        /logout은 우리가 관여하는 코드가 아니고, oauth2에서 자동으로 로그아웃 시켜주는 영역
        /oauth2/authorization/google 도 로그아웃과 마찬가지로 스프링 시큐리티에서 기본으로 제공해주는 영역이어서
        별도로 Controller 만들지 않는다.
        /domain/user 패키지
            Role, User, UserRespository
    -->

    <div class="row rowLine">
        <div class="col">
            <button class="btn btn-primary" onclick="location.href='/posts/save'"><span class="material-icons">mode_edit</span> 글쓰기</button>
        </div>
        <div class="col text-right">
            <!--로그인이 된 경우-->
            {{#user_name}}
                <button type="button" class="btn btn-success" onclick="location.href='/logout'"> {{username}} 로그아웃</button>
            {{/user_name}}

            <!--로그인이 안된 경우-->
            {{^user_name}}
                <button type="button" class="btn btn-primary" onclick="location.href='/oauth2/authorization/google'">Google Login</button>
            {{/user_name}}
        </div>
    </div>

    <!--
        3-5 글 목록보기
        글쓰기가 성공한 후, 첫화면으로 돌아오니까,
        화면 하단에 현재까지 등록된 글의 목록을 보여주는 부분을 작성해야 한다.

        번호    제목                                   작성자         수정일
        1      test                                  tester        2021-8-25

        #posts : Collection List 를 for(), while() 처럼 출력해준다
        정확히는 posts 라는 List 순회한다는 것을 의미한다
        아직은 posts 를 만들지 않았다.(목록에 현재 보여주지는 못한다)

        title 에 링크를 매달 예정
        /posts/update/아이디

        PostsReposityry 에서 posts객체를 만들어서 List로 반환하는 객체를 만들어야한다.
    -->

    <div class="row rowLine">
        <div class="col-1">번호</div>
        <div class="col-6">제목</div>
        <div class="col-2">작성자</div>
        <div class="col-3">수정일</div>
    </div>

    <!--
        3-7
        title을 클릭했을 원본글을 가지고와서 내용을 보여주는 작업을 해야한다.
        그런데 시간관계상, 바로 글 수정으로 가보겠습니다.
        수정, 내용보기랑 같다. 원본 데이터를 가져와서 화면에 뿌려주는 일을 하기 때문이다.
        원본글을 가져오기 위해서는 id가 있어야 한다.
    -->

    {{#posts}}
        <div class="row rowLine">
            <div class="col-1">{{id}}</div>
            <div class="col-6"><a href="/posts/update/{{id}}">{{title}}</a></div>
            <div class="col-2">{{author}}</div>
            <div class="col-3">{{modifiedDate}}</div>
        </div>
    {{/posts}}

{{>layout/footer}}